.header{
    position: absolute;
    right: 24px;
    color: #fff;
}

.header img {
    width: 50px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: #fff;
    text-decoration: none;
}