.nav {
    grid-area: n;
    background-color: #7ab9e5;
    padding: 20px;
}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.friendsBlock {
    margin-top: 100px;
    color: aliceblue;
}
.friends {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
}
