.descriptionBlock {
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,1);
    border-radius: 8px;
    background-color: #fff;
    padding: 26px 16px;
    margin-bottom: 60px;
}

.infoContainer {
    width: 60%;
    margin: 0 auto;
    text-align: start;
}

.contact {
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: #a30f0f;
}

.profileData {
    position: relative;
}

.myName {
    margin-bottom: 30px;
}

.myName span {
    font-size: 1.5rem;
    text-decoration: underline;
}

.editButton {
    position: absolute;
    right: 0;
}

.aboutMe h4{
    display: inline;
}


.editForm {
    position: relative;
}
.saveButton {
    position: absolute;
    right: 0;
}